/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 210;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margins Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

::selection {
  background: #579ce0; /* Highlight color */
  color: white; /* Text color within the highlight */
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/

#myLogo {
  cursor: pointer;
}

.restart__button {
  background-color: #9e4d54;
  border-radius: 0.25rem;
  color: white;
  padding: 0 0.5rem;
}

.gameover__button {
  background-color: #e74c3c;
  border-radius: 0.25rem;
  color: white;
  padding: 0 0.5rem;
}

.send__button {
  background-color: #679e4d;
  border-radius: 0.25rem;
  color: white;
  padding: 0 0.5rem;
}

.country__button {
  border: 2px solid #4387cb;
  border-radius: 0.5rem;
  color: #4387cb;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0 0.5rem;
}

.hover {
  background-color: #4387cb;
  color: white;
}

.nav__btns {
  align-items: center;
  display: flex;
}

.change-theme {
  color: var(--title-color);
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: var(--mb-1);
}

.change-theme:hover {
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0 0 var(--header-height) 0;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  color: var(--title-color);
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  max-width: 768px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid-skill {
  display: grid;
  gap: 5rem;
}

.header {
  background-color: var(--body-color);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
}

/*==================== NAV ====================*/
.nav {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  max-width: 968px;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.1rem;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    background-color: var(--body-color);
    border-radius: 1.5rem 1.5rem 0 0;
    bottom: -100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    left: 0;
    padding: 2rem 1.5rem 4rem;
    position: fixed;
    transition: 0.3s;
    width: 100%;
  }
}

.nav__list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav__link {
  align-items: center;
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  bottom: 0.5rem;
  color: var(--first-color);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 1.3rem;
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  align-items: center;
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  color: var(--first-color);
  font-size: 1.25rem;
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  fill: var(--first-color);
  width: 200px;
}

.home__blob-img {
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*========== BUTTONS ==========*/

.button {
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  font-weight: var(--font-medium);
  padding: 0.75rem 2rem;
}

/*========== BUTTONS PROJECT NEXT ==========*/

#button--show,
#button--hide {
  align-self: center;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  padding: 0.75rem 2rem;
}

#button--show:hover,
#button--hide:hover {
  background-color: var(--first-color-alt);
}

.hide-project {
  display: none;
}

.show-project {
  display: grid;
}

/*========== BUTTONS PROJECT NEXT ==========*/

.button__container {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.5rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: transparent;
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  color: var(--first-color);
}

.button--white:hover {
  background-color: transparent;
  border: 2px solid var(--first-color-alt);
  color: var(--first-color-alt);
}

.button--flex {
  align-items: center;
  display: inline-flex;
  justify-items: center;
  text-align: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  background-color: transparent;
  color: var(--first-color);
  padding: 0;
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img {
  align-self: center;
  border-radius: 0.5rem;
  justify-self: center;
  width: 200px;
}

.about__description {
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}

.skills__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
  color: var(--first-color);
  font-size: 2rem;
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  padding-left: 2.7rem;
  row-gap: 1.5rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  border-radius: 0.25rem;
  height: 5px;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  background-color: var(--first-color);
  display: block;
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 60%;
}

.skills__react {
  width: 85%;
}

.skills__php {
  width: 80%;
}

.skills__node {
  width: 70%;
}

.skills__firebase {
  width: 90%;
}

.skills__python {
  width: 55%;
}

.skills__figma {
  width: 90%;
}

.skills__sketch {
  width: 85%;
}

.skills__photoshop {
  width: 85%;
}

.skills__close .skills__list {
  height: 0px;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  cursor: pointer;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.qualification__rounder {
  background-color: var(--first-color);
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.qualification__line {
  background-color: var(--first-color);
  display: block;
  height: 100%;
  transform: translate(6px, -7px);
  width: 1px;
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

/*==================== SERVICES ====================*/
.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  background-color: var(--container-color);
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  position: relative;
  transition: 0.3s;
}

.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
  color: var(--first-color);
  display: block;
  font-size: 1.5rem;
  margin-bottom: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.services__button {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.services__modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: var(--z-modal);
}

.services__modal-content {
  background-color: var(--container-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-close {
  color: var(--first-color);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.services__modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== PROJECTS ====================*/
.img-outline {
  outline: 1px solid #579ce0;
}

.projects__icon__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.projects__container {
  max-width: 1200px;
  overflow: initial;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects__content {
  width: 100%;
}

.projects__img {
  border-radius: 0.5rem;
  justify-self: center;
  width: 100%;
}

.projects__img:hover,
.project__image__details:hover {
  border-color: transparent;
  cursor: pointer;
  outline: 4px solid var(--first-color);
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.projects__description {
  margin-bottom: var(--mb-0-75);
}

.projects__button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.projects__button__container {
  display: flex;
  justify-content: space-between;
}

.projects__button__container > a {
  margin: 0;
}

.projects__button:hover .button__icon {
  /* transform: translateX(0.25rem); */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

/* .swiper-portfolio-icon {
  color: var(--first-color);
  font-size: 2rem;
} */

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/*==================== PROJECT IN MIND ====================*/

#project-01-diagram-div {
  max-width: 100vh;
}

#project-02-diagram-div {
  max-width: 100vh;
}

#project-03-diagram-div {
  max-width: 100vh;
}

.project {
  text-align: center;
}

.project__bg {
  background-color: var(--first-color-second);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.project__description {
  margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description {
  color: #fff;
}

.project__img {
  justify-self: center;
  width: 232px;
}

#project-02-play {
  content: url("/assets/img/project-02-play-note.png");
  cursor: help;
}

#project-02-play:hover,
#project-02-play:active {
  content: url("/assets/img/project-02-play-note-hover.png");
}

/*==================== TESTIMONIAL ====================*/
.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial__img {
  border-radius: 50%;
  height: 60px;
  margin-right: var(--mb-0-75);
  width: 60px;
}

.testimonial__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial__client {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.testimonial__description {
  margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  color: var(--first-color);
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__icon:hover {
  color: var(--first-color-lighter);
  cursor: pointer;
}

.contact__subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  color: var(--title-color);
  font-size: var(--smaller-font-size);
}

.contact__input {
  background-color: var(--input-color);
  border: none;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  width: 100%;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  color: whitesmoke;
  font-size: var(--smaller-font-size);
  margin-top: var(--mb-3);
  text-align: center;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup {
  background-color: var(--first-color);
  border-radius: 0.4rem;
  bottom: -20%;
  opacity: 0.8;
  padding: 0 0.3rem;
  position: fixed;
  right: 1rem;
  transition: 0.4s;
  z-index: var(--z-tooltip);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  color: #fff;
  font-size: 1.5rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 375px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home__blob {
    width: 180px;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 0.5rem;
  }
  .project__img {
    width: 200px;
  }

  .projects__img {
    width: 90%;
  }

  .projects__content {
    font-size: var(--small-font-size);
    margin: 0 auto;
  }

  .projects__button__container {
    width: 50%;
  }

  .testimonial__data,
  .testimonial__header {
    align-items: center;
    flex-direction: column;
  }
  .testimonial__img {
    margin-bottom: var(--mb-0-25);
    margin-right: 0;
  }
  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    justify-self: center;
    order: 1;
  }
  .about__container,
  .skills__container,
  /* .projects__content, */
  .project__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .projects__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    bottom: initial;
    top: 0;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }
  .nav {
    column-gap: 1rem;
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    column-gap: 2rem;
    display: flex;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    column-gap: 2rem;
    padding-top: 5.5rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }
  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services__modal-content {
    width: 450px;
  }
  .projects__img {
    /* width: 320px; */
  }
  .projects__content {
    align-items: center;
  }
  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
  }
  .project__container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    column-gap: 3rem;
    grid-template-columns: 1fr max-content;
    padding: 3rem 2.5rem 0;
  }
  .project__data {
    padding-top: 0.8rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    column-gap: 2rem;
    flex-direction: row;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .home__blob {
    width: 320px;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .services__container {
    grid-template-columns: repeat(3, 238px);
  }
  .projects__content {
    column-gap: 1.5rem;
  }
  /* .swiper-portfolio-icon {
    font-size: 3.5rem;
  } */
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 0;
  }
  .testimonial__description {
    margin-bottom: 4rem;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
